# This is a reusable workflow.
# See this page for more info https://docs.github.com/en/actions/using-workflows/reusing-workflows

name: Build iOS app

on:
  workflow_call:

jobs:
  build:
    name: Build iOS
    runs-on: macos-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Set up environment
      uses: ./.github/actions/setup_environment

    # - name: Set global environment variables
    #   uses: ./.github/actions/setvars
    #   with:
    #     varFilePath: ./.github/variables/global.env
        
    # - name: Set up Xcode
    #   uses: maxim-lobanov/setup-xcode@v1
    #   with:
    #     xcode-version: ${{ env.XCODE_VERSION }}

    # - name: Set up Flutter
    #   uses: subosito/flutter-action@v2
    #   with:
    #     flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Get dependencies
      run: flutter pub get

    - name: Build
      run: flutter build ios --no-codesign  --no-pub