# This is a reusable workflow.
# See this page for more info https://docs.github.com/en/actions/using-workflows/reusing-workflows

name: Build Android app

on:
  workflow_call:

jobs:
  build:
    name: Build Android
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Set global environment variables
      uses: ./.github/actions/setvars
      with:
        varFilePath: ./.github/variables/global.env
    
    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}

    - name: Get dependencies
      run: flutter pub get

    - name: Build AAB
      run: flutter build bundle --no-pub