# This workflow analyzes code and runs tests on every PR into the main branch.

name: Check & analyze PR

on: 
  pull_request:
    branch:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-analysis-and-testing:
    name: Analyze and test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set global environment variables
      uses: ./.github/actions/setvars
      with:
        varFilePath: .github/variables/global.env

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: ${{ env.FLUTTER_VERSION }}
      
  build-android:
    needs: [code-analysis-and-testing]
    uses: ./.github/workflows/build_android.yaml